@keyframes pulse {
	0% { opacity: .25 }
	50% { opacity: 1 }
	100% { opacity: .25 }
}
.capture-window.open {
	width: 40rem;
	height: 40rem
}
.capture-window:not(.open) {
	background-color: transparent;
	box-shadow: 0 0 0 #000;
	border-color: transparent
}
.capture-window {
	position: fixed;
	bottom: .5rem;
	left: .5rem;
	width: 4rem;
	height: 4rem;
	z-index: 999;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: all .35s ease
}
.capture-window>:not(:first-child) {
	padding: .5rem
}
.open .capture-btn-collapse {
	border-bottom: 1rem solid #AAA;
	border-left: 1rem solid #AAA;
	border-top: 0 solid #AAA;
	border-right: 0 solid #AAA;
	padding-top: 1rem;
	padding-right: 1rem
}
.capture-btn-collapse {
	width: 3rem;
	height: 3rem;
	position: absolute;
	right: .5rem;
	top: .5rem;
	background: transparent;
	border-top: 1rem solid #AAA;
	border-right: 1rem solid #AAA;
	border-bottom: 0 solid #AAA;
	border-left: 0 solid #AAA;
	padding-bottom: 1rem;
	padding-left: 1rem;
	transition: all .35s ease
}
.capturing .capture-btn-collapse::before {
	content: '';
	animation: pulse 1.5s ease-in-out infinite
}
.open .capture-btn-collapse::before {
	content: '';
	border-radius: 1rem;
	left: .5rem;
	top: 0;
	right: 0;
	bottom: .5rem;
	position: absolute
}
.capture-btn-collapse::before {
	opacity: .5;
	content: '';
	background: red;
	border-radius: 1rem;
	right: .5rem;
	bottom: 0;
	left: 0;
	top: .5rem;
	position: absolute;
	transition: all .35s ease
}
.capture-header {
	padding-right: 0!important;
	min-height: 4rem;
	display: flex;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 4rem
}
.w-100 {
	width: 100%
}
.capture-file-list {
	border-top: .125rem solid rgba(0, 0, 0, .35);
	overflow-x: hidden;
	overflow-y: auto;
	flex: 1
}
.capture-file:not(:last-child) {
	border-bottom: .125rem solid rgba(0, 0, 0, .35)
}
.capture-file {
	padding: .5rem;
	display: flex;
	align-items: center;
	justify-content: space-between
}
.capture-file-list .btn-group {
	display: flex;
	margin-left: .5rem
}
.capture-filename {
	display: flex;
	min-width: 0
}
.capture-filename>div:first-child {
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis
}